body {
    font-family: 'Courier New', Courier, monospace;
    background: url('../assets/vault_tec_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #E3E3C3;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 15vw;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 46, 99, 0.9);
    padding: 20px;
    border-radius: 12px;
    border: 5px solid #f0d130;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    width: 400px;
}

.calculator h2 {
    color: #f0d130;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    text-align: left;
    margin: 15px 0 5px;
}

input {
    padding: 10px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
    border: 2px solid #f0d130;
    background: #001f3f;
    color: #f0d130;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    background: #f0d130;
    color: #002e63;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background: #e8c92d;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #f0d130;
}

.result::before {
    content: "Resultado: ";
    color: #e8c92d;
}


@media (max-width: 800px) {
    .container {
        justify-content: center; 
        padding-left: 0; 
    }
}
